{{ define "main" }}

  {{ .Content }}

  {{ range .Pages.GroupByPublishDate "2006" }}
    <h2>{{ .Key }}</h2>
    <ul>
      {{ range .Pages }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}

{{ end }}

{{ define "toc-container" }}
<aside class="book-toc">
  <div class="book-toc-content">
    {{ template "toc" . }}
  </div>
</aside>
{{ end }}

{{ define "toc" }}
<ul>
  {{ range .Site.Taxonomies.categories.ByCount }}
  <li>
    <a href="{{ .Page.RelPermalink }}">
      {{ .Page.Title }} ({{ .Count }})
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
